div.empty{
  height: 24px !important;
  margin-bottom: 24px !important;
}
#pokemon-list{
  height: 24px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  padding: 0;
  gap: 0.5rem;
  margin-bottom: 24px;
}
#pokemon-list>li{
  list-style: none;
}
li{
  text-align: center;
  border: 1px solid #29aafd;
  border-radius: 4px;
  background-color: #29aafd;
  color: white;
}
.card> i{
  display: flex;
  justify-content: flex-end;
}
i.bi-heart-fill{
  color: red;
}
i.bi-heart{
  color: white;
}